{% extends 'base.html' %}

{% block title %}
Профайл пользователя {{ user_obj.get_full_name }}
{% endblock %}
{% block content %}
  <div class="mb-5">
    <h1>Все посты пользователя {{ user_obj.get_full_name }}</h1>
    <h3>Всего постов: {{ count }}</h3>
    {% if request.user.id != user_obj.id %}
      {% if following %}
        <a
          class="btn btn-lg btn-light"
          href="{% url 'posts:profile_unfollow' user_obj.username %}" role="button"
        >
          Отписаться
        </a>
      {% else %}
        <a
          class="btn btn-lg btn-primary"
          href="{% url 'posts:profile_follow' user_obj.username %}" role="button"
        >
          Подписаться
        </a>
      {% endif %}
    {% endif %}	
  </div>
  {% include 'posts/includes/posts_list.html' %}
  {% include 'posts/includes/paginator.html' %}
{% endblock %}